openapi: 3.0.0
info:
  title: BigBuy API
  version: v202102
  description: OpenAPI spefication to interact with bigbuy.eu
servers:
  - url: 'https://api.bigbuy.eu'
    description: Production endpoint
  - url: 'https://api.sandbox.bigbuy.eu'
    description: Sandbox endpoint
paths:
  '/rest/catalog/attributes.{_format}':
    get:
      operationId: get-catelog-attributes
      summary: Lists all attributes
      description: 'Rate limit: 24 request(s) in 3600 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
  '/rest/catalog/attribute/{id}.{_format}':
    get:
      operationId: get-catalog-attribute
      summary: Get a single attribute
      description: 'Rate limit: 1 request(s) in 5 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
  '/rest/catalog/attributealllanguages/{id}.{_format}':
    get:
      operationId: get-catalog-attribute-languages
      summary: Get languages of a single attribute
      description: 'Rate limit: 1 request(s) in 5 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
  '/rest/catalog/attributegroups.{_format}':
    get:
      operationId: get-catalog-attribute-groups
      summary: Lists all attribute groups
      description: 'Rate limit: 24 request(s) in 3600 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
  '/rest/catalog/attributegroup/{id}.{_format}':
    get:
      operationId: get-catalog-attribute-group
      summary: Get a single attribute group
      description: 'Rate limit: 1 request(s) in 1 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
  '/rest/catalog/attributegroupalllanguages/{id}.{_format}':
    get:
      operationId: get-catalog-attributegroupalllanguages
      summary: Get all languages of a single attribute group
      description: 'Rate limit: 1 request(s) in 1 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
  '/rest/catalog/categories.{_format}':
    get:
      operationId: get-catalog-categories
      summary: Lists all categories
      description: 'Rate limit: 24 request(s) in 3600 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
  '/rest/catalog/category/{id}.{_format}':
    get:
      operationId: get-catalog-category
      summary: Returns the selected category
      description: 'Rate limit: 1 request(s) in 5 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
  '/rest/catalog/categoryalllanguages/{id}.{_format}':
    get:
      operationId: get-catalog-categoryalllanguages
      summary: Lists all categories
      description: 'Rate limit: 24 request(s) in 3600 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
  '/rest/catalog/languages.{_format}':
    get:
      operationId: get-catalog-languages
      summary: Returns all languages
      description: 'Rate limit: 10 request(s) in 3600 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
  '/rest/catalog/manufacturers.{_format}':
    get:
      operationId: get-catalog-manufacturers
      summary: Returns all manufacturers
      description: 'Rate limit: 5 request(s) in 3600 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
  '/rest/catalog/manufacturer/{id}.{_format}':
    get:
      operationId: get-catalog-manufacturer
      summary: Get a single manufacturer
      description: 'Rate limit: 1 request(s) in 5 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
  '/rest/catalog/products.{_format}':
    get:
      operationId: get-catalog-products
      summary: Returns all products
      description: 'Rate limit: 10 request(s) in 3600 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
      - name: pageSize
        description: Page size
        in: query
        required: true
        schema:
          type: integer
      - name: page
        description: Page
        in: query
        required: true
        schema:
          type: integer
  '/rest/catalog/product/{id}.{_format}':
    get:
      operationId: get-catalog-product
      summary: Returns the selected product
      description: 'Rate limit: 1 request(s) in 5 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
  '/rest/catalog/productcategories/{id}.{_format}':
    get:
      operationId: get-catalog-productcategories
      summary: Get product categories
      description: 'Rate limit: 1 request(s) in 5 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
  '/rest/catalog/productimages/{id}.{_format}':
    get:
      operationId: get-catalog-productimages
      summary: Get a single product images
      description: 'Rate limit: 1 request(s) in 5 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
  '/rest/catalog/productinformation/{id}.{_format}':
    get:
      operationId: get-catalog-productinformation
      summary: Get a single product
      description: 'Rate limit: 1 request(s) in 5 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
  '/rest/catalog/productinformationalllanguages/{id}.{_format}':
    get:
      operationId: get-catalog-productinformationalllanguages
      summary: Get a single product
      description: 'Rate limit: 1 request(s) in 5 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
  '/rest/catalog/productinformationbysku/{sku}.{_format}':
    get:
      operationId: get-catalog-productinformationbysku
      summary: Get a single product by sku
      description: 'Rate limit: 1 request(s) in 5 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: sku
        in: path
        required: true
        schema:
          type: string
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
  '/rest/catalog/productsinformation.{_format}':
    get:
      operationId: get-catalog-productsinformation
      summary: Returns all products
      description: 'Rate limit: 24 request(s) in 3600 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: isoCode
        in: query
        required: false
        schema:
          type: string
          default: de
          example: de
          description: The language of the returned data
      - name: page
        description: Page
        in: query
        required: true
        schema:
          type: integer
      - name: pageSize
        description: Page size
        in: query
        required: true
        schema:
          type: integer
  '/rest/catalog/productsstock.{_format}':
    get:
      operationId: get-catalog-productsstock
      summary: Returns all products stock
      description: 'Rate limit: 10 request(s) in 3600 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: page
        description: Page
        in: query
        required: true
        schema:
          type: integer
      - name: pageSize
        description: Page size
        in: query
        required: true
        schema:
          type: integer
  '/rest/catalog/productsstockavailable.{_format}':
    get:
      operationId: get-catalog-productsstockavailable
      summary: Returns all products with available stock
      description: 'Rate limit: 10 request(s) in 3600 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: page
        description: Page
        in: query
        required: true
        schema:
          type: integer
      - name: pageSize
        description: Page size
        in: query
        required: true
        schema:
          type: integer
  '/rest/catalog/productsstockbyreference.{_format}':
    post:
      operationId: get-catalog-productsstockbyreference
      summary: Returns all selected products stock
      description: 'Rate limit: 25 request(s) in 3600 second(s)'
      tags:
        - Catalog API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
  '/rest/module/.{_format}':
    get:
      operationId: get-all-modules
      summary: Get all Modules
      description: 'Rate limit: 1 request(s) in 1 second(s)'
      tags:
        - Module API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: name
        description: Module name
        in: query
        required: false
        schema:
          type: string
      - name: platform
        description: Platform name
        in: query
        required: false
        schema:
          type: string
      - name: platformVersion
        description: Platform version
        in: query
        required: false
        schema:
          type: string
  '/rest/module/platforms.{_format}':
    get:
      operationId: get-all-modules-platforms
      summary: Get all module platforms
      description: 'Rate limit: 1 request(s) in 1 second(s)'
      tags:
        - Module API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
      - name: name
        description: Module name
        in: query
        required: false
        schema:
          type: string
      - name: platform
        description: Platform name
        in: query
        required: false
        schema:
          type: string
      - name: platformVersion
        description: Platform version
        in: query
        required: false
        schema:
          type: string
  '/rest/order/addresses/new.{_format}':
    get:
      operationId: get-order-shipping-address-structure
      summary: Get order shipping address structure
      description: 'Rate limit: 1 request(s) in 1 second(s)'
      tags:
        - Order API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
  '/rest/order/carriers/new.{_format}':
    get:
      operationId: get-order-carriers-structure
      summary: Get order carriers structure
      description: 'Rate limit: 1 request(s) in 1 second(s)'
      tags:
        - Order API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
  '/rest/shipping/carriers.{_format}':
    get:
      operationId: get-the-list-of-available-carriers
      summary: Get the list of available carriers
      description: 'Rate limit: 1 request(s) in 1 second(s)'
      tags:
        - Shipping API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
  '/rest/tracking/carriers.{_format}':
    get:
      operationId: get-the-list-of-available-trackings
      summary: Get the list of available trackings
      description: 'Rate limit: 1 request(s) in 1 second(s)'
      tags:
        - Tracking API
      responses:
        '200':
          description: Returned when successful
        '404':
          description: Returned when requested object was not found
        '415':
          description: Returned on invalid Content-Type header
        '429':
          description: Exceeded requests limits
    parameters:
      - name: _format
        in: path
        required: true
        schema:
          enum:
            - json
            - xml
            - html
          example: json
          default: json
components:
  parameters:
    _format:
      name: _format
      in: path
      required: true
      schema:
        enum:
          - json
          - xml
          - html
        example: json
        default: json
    id:
      name: id
      in: path
      required: true
      schema:
        type: integer
    sku:
      name: sku
      in: path
      required: true
      schema:
        type: string
    accept:
      name: accept
      in: header
      required: false
      schema:
        type: string
        default: application/json
    isoCode:
      name: isoCode
      in: query
      required: false
      schema:
        type: string
        default: de
        example: de
        description: The language of the returned data
    page:
      name: page
      description: Page
      in: query
      required: true
      schema:
        type: integer
    pageSize:
      name: pageSize
      description: Page size
      in: query
      required: true
      schema:
        type: integer
    moduleName:
      name: name
      description: Module name
      in: query
      required: false
      schema:
        type: string
    platform:
      name: platform
      description: Platform name
      in: query
      required: false
      schema:
        type: string
    platformVersion:
      name: platformVersion
      description: Platform version
      in: query
      required: false
      schema:
        type: string
  schemas: {}
  securitySchemes:
    API_KEY:
      type: http
      scheme: bearer
security:
  - API_KEY: []
